<div class="hidden-lg hidden-md hidden-sm">
  <!-- サイドバー3 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-99999999999"
       data-ad-slot="99999999"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<div class="hidden-xs">
  <!-- レクタングル -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-999999999999"
       data-ad-slot="999999999"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
