<div class="hidden-lg hidden-md hidden-sm">
  <!-- スマホ 横 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:100px"
       data-ad-client="ca-pub-9999999999999"
       data-ad-slot="999999999"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div hidden-xs>
  <!-- ビッグバナー -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-999999999999999"
       data-ad-slot="09999999999"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
