<div class="container error">
  <div class="center-block">
    <div class="error__content">
      <p>
        申し訳ありません。お探しのページが表示できません。
        <br><%= link_to "こちら", root_path %>からお戻りください。
        <br>
        <br>何か問題がある場合は、サイト下部のお問い合わせフォームもご利用ください。
        <br>いつもRepをご利用ありがとうございます。
      </p>
    </div>
  </div>
</div>
