/* デザインテーマの色 */
$purple: #c71585;

/* 基本色 */
$white: #f5f5f5;
$gray: #333;
$light-gray: #888;
$syllabus-gray: #555;
$top-white: #fafafa;
$span-red: #e44f4f;
$blue: #008080;
$light-blue: #0cb3d9;
$orange: #e36718;

// 学部色
$bungaku: #ffe766;
$keizai: #61C1EC;
$rigaku: #F8BA60;
$shakai: #F4B9D4;
$hogaku: #74CBCD;
$keiei: #AD9CC1;
$ibunka: #EF9570;
$kanko: #F2A6A4;
$community: #F3EE6E;
$gendai: #8FCD99;
$glap: #FBC400;
$zenkari: #E10121;
