@import "common/color";
@import "common/font";
@import "media_queries";

html {
  margin: 0px;
  padding: 0px;
  font-family: $meiryo;
  position: relative;
}
.wrap {
  overflow: hidden;
}
.blur {
  filter: blur(5px);
}

#error_explanation {
  margin: 10px auto;
  background: #e47a97;
  color: #fff;
  padding: 1px 12px;
  border-radius: 5px;
  h2 {
    font-size: 20px;
    ul {
      li {
        list-style: none;
        font-size: 15px;
      }
    }
  }
}

/*******
* スマホ画面でのinputの拡大を防ぐ
********/

@include max-screen($breakpoint-tablet) {
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
    font-size: 16px;
    // transform: scale(0.875);
  }
}
