@import "common/color";
@import "common/font";
@import "media_queries";

.Page {
  margin-bottom: 15px;
  &__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 15px auto 10px;
    line-height: 1.1;
    color: $blue;
  }
  &__text {
    color: $light-gray;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}
