@import "common/color";
@import "common/font";
@import "media_queries";

.Status {
  color: $light-gray;
  padding-bottom: 5px;
  &__block {
    width: 100%;
    &--line {
      border-bottom: 1px solid lighten($light-gray, 30%);
      box-shadow: 0px 1px 8px -2px lighten($light-gray, 30%);
    }
    &--favorite {
      margin: 15px auto;
      @include max-screen($breakpoint-tablet) {
        margin: 0px auto;
        border-bottom: 1px solid lighten($light-gray, 30%);
        box-shadow: 0px 3px 3px -3px lighten($light-gray, 30%);
        p {
          padding: 0px;
          line-height: 30px;
        }
      }
    }
  }
  &__title {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
    @include max-screen($breakpoint-tablet) {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  &__review {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 0px;
    @include max-screen($breakpoint-tablet) {
      margin-bottom: 0px;
    }
    span {
      color: $blue;
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__rank {
    text-align: center;
    margin-bottom: 25px;
  }
  &__number {
    width: 120px;
    height: 120px;
    border: 1px solid lighten($light-gray, 30%);
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    span {
      position: relative;
      top: 28px;
      left: 8px;
      margin-right: 3px;
    }
  }
  &__count {
    font-size: 40px;
    color: $orange;
    font-weight: bold;
  }
  &__favorites {
    text-align: center;
    @include max-screen($breakpoint-tablet) {
      margin-bottom: 0px;
    }
  }
}
